/* General body styles */
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Header styles */
h1 {
    text-align: center;
    color: #2c3e50;
    background-color: #ecf0f1;
    padding: 20px;
    margin: 0;
}

/* Links styling */
a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Styling for the reecipe pages */
ul {
    list-style-type: square;
    padding-left: 20px;
}

ul li {
    margin: 10px 0; /* Add space between each list item */
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
}

ol {
    padding-left: 20px;
}

/* Image styling */
img {
    max-width: 500px;
    height: auto;
    display: block;
    margin: 20px auto;
}

/* Paragraph styles */
p {
    margin: 10px 0;
}

/* Adding some spacing between sections */

h2 {
    margin-top: 30px;
    color: #2c3e50;
}

